* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*comienza el header */

header {

    background-color: none;
}


.menu-burger {
    display: none;

    width: 100%;
    text-align: center;
}

.menu-burger ul li {
    padding: 15px 0;
}

.menu-burger ul li a {
    color: white;
    font-size: 18px;
    font-family: sans-serif;
}

.boton {
    background-color: none;
    color: white;
    font-size: 24px;
    font-family: sans-serif;
    padding: 10px;
    border: none;
    cursor: pointer;
}

/* Transición suave al desplegar el menú */
.menu-burger {
    /* ...otros estilos... */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.menu-burger {
    max-height: 500px;
    /* Ajustar este valor según la altura máxima del menú */
}

/* Cambio de color al pasar el cursor sobre los enlaces del menú */
.menu-burger ul li a:hover {
    color: #ff9800;
}

/* Rotar el icono de la hamburguesa al abrir el menú */
.boton span.rotar {
    transform: rotate(90deg);
}






/* Estilos del menú horizontal para pantallas grandes */
@media (min-width: 768px) {
    .boton {
        
        display: none;
    }

    .menu-burger {
        display: block;
        background-color: transparent;
        max-height: initial;
        overflow: initial;
    }

    .menu-burger ul {
        display: flex;
        justify-content: center;
    }

    .menu-burger ul li {
        padding: 10px 20px;
    }
}